ConsultationManager/Service References/ServiceReferenceRdv/RdvService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RdvService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64183/Services/RdvService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64183/Services/RdvService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64183/Services/RdvService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" />
      <xsd:import schemaLocation="http://localhost:64183/Services/RdvService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" />
      <xsd:import schemaLocation="http://localhost:64183/Services/RdvService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRdvService_GetAllRdv_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRdv" />
  </wsdl:message>
  <wsdl:message name="IRdvService_GetAllRdv_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRdvResponse" />
  </wsdl:message>
  <wsdl:message name="IRdvService_GetRdvMedecin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRdvMedecin" />
  </wsdl:message>
  <wsdl:message name="IRdvService_GetRdvMedecin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRdvMedecinResponse" />
  </wsdl:message>
  <wsdl:message name="IRdvService_GetRdvConsultation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRdvConsultation" />
  </wsdl:message>
  <wsdl:message name="IRdvService_GetRdvConsultation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRdvConsultationResponse" />
  </wsdl:message>
  <wsdl:message name="IRdvService_AddRdv_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRdv" />
  </wsdl:message>
  <wsdl:message name="IRdvService_AddRdv_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRdvResponse" />
  </wsdl:message>
  <wsdl:message name="IRdvService_UpdateRdv_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRdv" />
  </wsdl:message>
  <wsdl:message name="IRdvService_UpdateRdv_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRdvResponse" />
  </wsdl:message>
  <wsdl:message name="IRdvService_DeleteRdv_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRdv" />
  </wsdl:message>
  <wsdl:message name="IRdvService_DeleteRdv_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRdvResponse" />
  </wsdl:message>
  <wsdl:portType name="IRdvService">
    <wsdl:operation name="GetAllRdv">
      <wsdl:input wsaw:Action="http://tempuri.org/IRdvService/GetAllRdv" message="tns:IRdvService_GetAllRdv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRdvService/GetAllRdvResponse" message="tns:IRdvService_GetAllRdv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRdvMedecin">
      <wsdl:input wsaw:Action="http://tempuri.org/IRdvService/GetRdvMedecin" message="tns:IRdvService_GetRdvMedecin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRdvService/GetRdvMedecinResponse" message="tns:IRdvService_GetRdvMedecin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRdvConsultation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRdvService/GetRdvConsultation" message="tns:IRdvService_GetRdvConsultation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRdvService/GetRdvConsultationResponse" message="tns:IRdvService_GetRdvConsultation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRdv">
      <wsdl:input wsaw:Action="http://tempuri.org/IRdvService/AddRdv" message="tns:IRdvService_AddRdv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRdvService/AddRdvResponse" message="tns:IRdvService_AddRdv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRdv">
      <wsdl:input wsaw:Action="http://tempuri.org/IRdvService/UpdateRdv" message="tns:IRdvService_UpdateRdv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRdvService/UpdateRdvResponse" message="tns:IRdvService_UpdateRdv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRdv">
      <wsdl:input wsaw:Action="http://tempuri.org/IRdvService/DeleteRdv" message="tns:IRdvService_DeleteRdv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRdvService/DeleteRdvResponse" message="tns:IRdvService_DeleteRdv_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRdvService" type="tns:IRdvService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRdv">
      <soap:operation soapAction="http://tempuri.org/IRdvService/GetAllRdv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRdvMedecin">
      <soap:operation soapAction="http://tempuri.org/IRdvService/GetRdvMedecin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRdvConsultation">
      <soap:operation soapAction="http://tempuri.org/IRdvService/GetRdvConsultation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRdv">
      <soap:operation soapAction="http://tempuri.org/IRdvService/AddRdv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRdv">
      <soap:operation soapAction="http://tempuri.org/IRdvService/UpdateRdv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRdv">
      <soap:operation soapAction="http://tempuri.org/IRdvService/DeleteRdv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RdvService">
    <wsdl:port name="BasicHttpBinding_IRdvService" binding="tns:BasicHttpBinding_IRdvService">
      <soap:address location="http://localhost:64183/Services/RdvService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>