ConsultationManager/Service References/ServiceReferenceRdv/RdvService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64183/Services/RdvService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" />
  <xs:complexType name="ArrayOfRdvPatientMedecin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RdvPatientMedecin" nillable="true" type="tns:RdvPatientMedecin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRdvPatientMedecin" nillable="true" type="tns:ArrayOfRdvPatientMedecin" />
  <xs:complexType name="RdvPatientMedecin">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Medecin" nillable="true" type="q1:Utilisateur" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Patient" nillable="true" type="q2:Patient" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Rdv" nillable="true" type="q3:RDV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RdvPatientMedecin" nillable="true" type="tns:RdvPatientMedecin" />
</xs:schema>