ConsultationManager/Service References/ServiceReferenceConclusion/ConclusionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DemandeHospit">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreeDans" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreePar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdHospit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMedecin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPatient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdRdv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NbJours" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Traitement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Urgence" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DemandeHospit" nillable="true" type="tns:DemandeHospit" />
</xs:schema>