ConsultationManager/Service References/ServiceReferenceConclusion/ConclusionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64183/Services/ConclusionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" />
  <xs:element name="AddConclusion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="dossierMed" nillable="true" type="q1:Conclusion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConclusionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="AddConclusionResult" nillable="true" type="q2:Conclusion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConclusion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="dossierMed" nillable="true" type="q3:Conclusion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConclusionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="UpdateConclusionResult" nillable="true" type="q4:Conclusion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConclusion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConclusionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>