ConsultationManager/Service References/ServiceReferenceConclusion/ConclusionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64183/Services/ConclusionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Conclusion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompteRendu" nillable="true" type="tns:CompteRendu" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Conseils" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreeDans" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreePar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdConsultation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ordonnance" nillable="true" type="tns:Ordonnance" />
      <xs:element minOccurs="0" name="TraitementsCompl" nillable="true" type="tns:TraitementsComplemtaires" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conclusion" nillable="true" type="tns:Conclusion" />
  <xs:complexType name="CompteRendu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompteRendu" nillable="true" type="tns:CompteRendu" />
  <xs:complexType name="Ordonnance">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListMedicaments" nillable="true" type="tns:ArrayOfMedicament" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ordonnance" nillable="true" type="tns:Ordonnance" />
  <xs:complexType name="ArrayOfMedicament">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medicament" nillable="true" type="tns:Medicament" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicament" nillable="true" type="tns:ArrayOfMedicament" />
  <xs:complexType name="Medicament">
    <xs:sequence>
      <xs:element minOccurs="0" name="NbFoisJours" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodeJours" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodeMois" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temps" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medicament" nillable="true" type="tns:Medicament" />
  <xs:complexType name="TraitementsComplemtaires">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListTraitements" nillable="true" type="tns:ArrayOfTraitement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraitementsComplemtaires" nillable="true" type="tns:TraitementsComplemtaires" />
  <xs:complexType name="ArrayOfTraitement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Traitement" nillable="true" type="tns:Traitement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTraitement" nillable="true" type="tns:ArrayOfTraitement" />
  <xs:complexType name="Traitement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Traitement" nillable="true" type="tns:Traitement" />
</xs:schema>