ConsultationManager/Service References/ServiceReferenceConsultation/ConsultationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64183/Services/ConsultationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" />
  <xs:complexType name="ServicePathologies">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="ListPthologie" nillable="true" type="q1:ArrayOfConsultation" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Service" nillable="true" type="q2:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePathologies" nillable="true" type="tns:ServicePathologies" />
</xs:schema>