ConsultationManager/Service References/ServiceReferenceConsultation/ConsultationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64183/Services/ConsultationService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfConsultation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Consultation" nillable="true" type="tns:Consultation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultation" nillable="true" type="tns:ArrayOfConsultation" />
  <xs:complexType name="Consultation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPlanning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Consultation" nillable="true" type="tns:Consultation" />
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreePar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreerDans" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOuverture" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Domaine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Telephones" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
</xs:schema>