ConsultationManager/Service References/ServiceReferenceConsultation/ConsultationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64183/Services/ConsultationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" />
  <xs:import schemaLocation="http://localhost:64183/Services/ConsultationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" />
  <xs:element name="GetServiceDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" minOccurs="0" name="GetServiceDetailsResult" nillable="true" type="q1:ServicePathologies" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPathologie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="pathologie" nillable="true" type="q2:Consultation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPathologieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="AddPathologieResult" nillable="true" type="q3:Consultation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePathologie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="pathologie" nillable="true" type="q4:Consultation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePathologieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="UpdatePathologieResult" nillable="true" type="q5:Consultation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="service" nillable="true" type="q6:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="UpdateServiceResult" nillable="true" type="q7:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePathologie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePathologieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>