ConsultationManager/Service References/ServiceReferenceSalle/SalleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Salle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreeDans" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreePar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NbLit" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Salle" nillable="true" type="tns:Salle" />
  <xs:complexType name="ArrayOfSalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Salle" nillable="true" type="tns:Salle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalle" nillable="true" type="tns:ArrayOfSalle" />
</xs:schema>