ConsultationManager/Service References/ServiceReferenceSalle/SalleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64183/Services/SalleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" />
  <xs:element name="AddSalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="salle" nillable="true" type="q1:Salle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="AddSalleResult" nillable="true" type="q2:Salle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idService" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSallesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="GetSallesResult" nillable="true" type="q3:ArrayOfSalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="salle" nillable="true" type="q4:Salle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="UpdateSalleResult" nillable="true" type="q5:Salle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSalleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>