ConsultationManager/Service References/ServiceReferencePlanning/PlanningService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64183/Services/PlanningService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" />
  <xs:complexType name="ArrayOfConsultationMedecinsPlanning">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultationMedecinsPlanning" nillable="true" type="tns:ConsultationMedecinsPlanning" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultationMedecinsPlanning" nillable="true" type="tns:ArrayOfConsultationMedecinsPlanning" />
  <xs:complexType name="ConsultationMedecinsPlanning">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Consult" nillable="true" type="q1:Consultation" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="MedecinsDimanche" nillable="true" type="q2:ArrayOfUtilisateur" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="MedecinsJeudi" nillable="true" type="q3:ArrayOfUtilisateur" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="MedecinsLundi" nillable="true" type="q4:ArrayOfUtilisateur" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="MedecinsMardi" nillable="true" type="q5:ArrayOfUtilisateur" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="MedecinsMercredi" nillable="true" type="q6:ArrayOfUtilisateur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultationMedecinsPlanning" nillable="true" type="tns:ConsultationMedecinsPlanning" />
</xs:schema>