ConsultationManager/Service References/ServiceReferencePlanning/PlanningService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64183/Services/PlanningService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" />
  <xs:import schemaLocation="http://localhost:64183/Services/PlanningService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" />
  <xs:element name="GetAllPlannings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlanningsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" minOccurs="0" name="GetAllPlanningsResult" nillable="true" type="q1:ArrayOfConsultationMedecinsPlanning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" minOccurs="0" name="GetPlanningResult" nillable="true" type="q2:ConsultationMedecinsPlanning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlanning">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="planning" nillable="true" type="q3:Planning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlanningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="UpdatePlanningResult" nillable="true" type="q4:Planning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>