ConsultationManager/Service References/ServiceReferenceDossierMed/DossierMedService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64183/Services/DossierMedService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" />
  <xs:complexType name="ArrayOfDossierMedDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DossierMedDetail" nillable="true" type="tns:DossierMedDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDossierMedDetail" nillable="true" type="tns:ArrayOfDossierMedDetail" />
  <xs:complexType name="DossierMedDetail">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="ConclusionsChirurgie" nillable="true" type="q1:ArrayOfConclusion" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="ConclusionsHospit" nillable="true" type="q2:ArrayOfConclusion" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="ConclusionsInterview" nillable="true" type="q3:ArrayOfConclusion" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="DossierMedical" nillable="true" type="q4:DossierMed" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Medecin" nillable="true" type="q5:Utilisateur" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Patient" nillable="true" type="q6:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DossierMedDetail" nillable="true" type="tns:DossierMedDetail" />
  <xs:complexType name="RdvPatientMedecin">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Medecin" nillable="true" type="q7:Utilisateur" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Patient" nillable="true" type="q8:Patient" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Rdv" nillable="true" type="q9:RDV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RdvPatientMedecin" nillable="true" type="tns:RdvPatientMedecin" />
</xs:schema>