ConsultationManager/Service References/ServiceReferenceHospit/HospitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HospitService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64183/Services/HospitService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64183/Services/HospitService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64183/Services/HospitService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" />
      <xsd:import schemaLocation="http://localhost:64183/Services/HospitService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:64183/Services/HospitService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" />
      <xsd:import schemaLocation="http://localhost:64183/Services/HospitService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHospitService_AddHospit_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHospit" />
  </wsdl:message>
  <wsdl:message name="IHospitService_AddHospit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHospitResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitService_AddMesurePoids_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMesurePoids" />
  </wsdl:message>
  <wsdl:message name="IHospitService_AddMesurePoids_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMesurePoidsResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitService_AddMesureTa_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMesureTa" />
  </wsdl:message>
  <wsdl:message name="IHospitService_AddMesureTa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMesureTaResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitService_AddMesureTemperature_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMesureTemperature" />
  </wsdl:message>
  <wsdl:message name="IHospitService_AddMesureTemperature_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMesureTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitService_AddMesureGlycemique_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMesureGlycemique" />
  </wsdl:message>
  <wsdl:message name="IHospitService_AddMesureGlycemique_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMesureGlycemiqueResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitService_AddIntervention_InputMessage">
    <wsdl:part name="parameters" element="tns:AddIntervention" />
  </wsdl:message>
  <wsdl:message name="IHospitService_AddIntervention_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInterventionResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitService_GetDemandesHospit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDemandesHospit" />
  </wsdl:message>
  <wsdl:message name="IHospitService_GetDemandesHospit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDemandesHospitResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitService_GetHospit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospit" />
  </wsdl:message>
  <wsdl:message name="IHospitService_GetHospit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitService_GetHospits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHospits" />
  </wsdl:message>
  <wsdl:message name="IHospitService_GetHospits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHospitsResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitService_GetSallePlanning_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSallePlanning" />
  </wsdl:message>
  <wsdl:message name="IHospitService_GetSallePlanning_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSallePlanningResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitService_UpdateHospit_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHospit" />
  </wsdl:message>
  <wsdl:message name="IHospitService_UpdateHospit_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHospitResponse" />
  </wsdl:message>
  <wsdl:message name="IHospitService_DeleteHospit_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHospit" />
  </wsdl:message>
  <wsdl:message name="IHospitService_DeleteHospit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHospitResponse" />
  </wsdl:message>
  <wsdl:portType name="IHospitService">
    <wsdl:operation name="AddHospit">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitService/AddHospit" message="tns:IHospitService_AddHospit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitService/AddHospitResponse" message="tns:IHospitService_AddHospit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMesurePoids">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitService/AddMesurePoids" message="tns:IHospitService_AddMesurePoids_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitService/AddMesurePoidsResponse" message="tns:IHospitService_AddMesurePoids_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMesureTa">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitService/AddMesureTa" message="tns:IHospitService_AddMesureTa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitService/AddMesureTaResponse" message="tns:IHospitService_AddMesureTa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMesureTemperature">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitService/AddMesureTemperature" message="tns:IHospitService_AddMesureTemperature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitService/AddMesureTemperatureResponse" message="tns:IHospitService_AddMesureTemperature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMesureGlycemique">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitService/AddMesureGlycemique" message="tns:IHospitService_AddMesureGlycemique_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitService/AddMesureGlycemiqueResponse" message="tns:IHospitService_AddMesureGlycemique_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddIntervention">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitService/AddIntervention" message="tns:IHospitService_AddIntervention_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitService/AddInterventionResponse" message="tns:IHospitService_AddIntervention_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDemandesHospit">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitService/GetDemandesHospit" message="tns:IHospitService_GetDemandesHospit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitService/GetDemandesHospitResponse" message="tns:IHospitService_GetDemandesHospit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospit">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitService/GetHospit" message="tns:IHospitService_GetHospit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitService/GetHospitResponse" message="tns:IHospitService_GetHospit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHospits">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitService/GetHospits" message="tns:IHospitService_GetHospits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitService/GetHospitsResponse" message="tns:IHospitService_GetHospits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSallePlanning">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitService/GetSallePlanning" message="tns:IHospitService_GetSallePlanning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitService/GetSallePlanningResponse" message="tns:IHospitService_GetSallePlanning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHospit">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitService/UpdateHospit" message="tns:IHospitService_UpdateHospit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitService/UpdateHospitResponse" message="tns:IHospitService_UpdateHospit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteHospit">
      <wsdl:input wsaw:Action="http://tempuri.org/IHospitService/DeleteHospit" message="tns:IHospitService_DeleteHospit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHospitService/DeleteHospitResponse" message="tns:IHospitService_DeleteHospit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHospitService" type="tns:IHospitService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddHospit">
      <soap:operation soapAction="http://tempuri.org/IHospitService/AddHospit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMesurePoids">
      <soap:operation soapAction="http://tempuri.org/IHospitService/AddMesurePoids" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMesureTa">
      <soap:operation soapAction="http://tempuri.org/IHospitService/AddMesureTa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMesureTemperature">
      <soap:operation soapAction="http://tempuri.org/IHospitService/AddMesureTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMesureGlycemique">
      <soap:operation soapAction="http://tempuri.org/IHospitService/AddMesureGlycemique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIntervention">
      <soap:operation soapAction="http://tempuri.org/IHospitService/AddIntervention" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemandesHospit">
      <soap:operation soapAction="http://tempuri.org/IHospitService/GetDemandesHospit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospit">
      <soap:operation soapAction="http://tempuri.org/IHospitService/GetHospit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHospits">
      <soap:operation soapAction="http://tempuri.org/IHospitService/GetHospits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSallePlanning">
      <soap:operation soapAction="http://tempuri.org/IHospitService/GetSallePlanning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHospit">
      <soap:operation soapAction="http://tempuri.org/IHospitService/UpdateHospit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHospit">
      <soap:operation soapAction="http://tempuri.org/IHospitService/DeleteHospit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HospitService">
    <wsdl:port name="BasicHttpBinding_IHospitService" binding="tns:BasicHttpBinding_IHospitService">
      <soap:address location="http://localhost:64183/Services/HospitService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>