ConsultationManager/Service References/ServiceReferenceHospit/HospitService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64183/Services/HospitService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" />
  <xs:import schemaLocation="http://localhost:64183/Services/HospitService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" />
  <xs:complexType name="ArrayOfDemandeHospitDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DemandeHospitDetail" nillable="true" type="tns:DemandeHospitDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDemandeHospitDetail" nillable="true" type="tns:ArrayOfDemandeHospitDetail" />
  <xs:complexType name="DemandeHospitDetail">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="DemandeHospit" nillable="true" type="q1:DemandeHospit" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="IntervConclus" nillable="true" type="q2:Conclusion" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Medecin" nillable="true" type="q3:Utilisateur" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Patient" nillable="true" type="q4:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DemandeHospitDetail" nillable="true" type="tns:DemandeHospitDetail" />
  <xs:complexType name="ArrayOfHospitalisationDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HospitalisationDetail" nillable="true" type="tns:HospitalisationDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHospitalisationDetail" nillable="true" type="tns:ArrayOfHospitalisationDetail" />
  <xs:complexType name="HospitalisationDetail">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Conclusion" nillable="true" type="q5:Conclusion" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="FicheGlycemique" nillable="true" type="q6:ArrayOfMesure" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="FichePoids" nillable="true" type="q7:ArrayOfMesure" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="FicheTA" nillable="true" type="q8:ArrayOfMesure" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="FicheTemperature" nillable="true" type="q9:ArrayOfMesure" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="Hospitalisation" nillable="true" type="q10:Hospitalisation" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="Inetrventions" nillable="true" type="q11:ArrayOfIntervention" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Medecin" nillable="true" type="q12:Utilisateur" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" minOccurs="0" name="Patient" nillable="true" type="q13:Patient" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="SallesChange" nillable="true" type="q14:ArrayOfSalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HospitalisationDetail" nillable="true" type="tns:HospitalisationDetail" />
</xs:schema>