ConsultationManager/Service References/ServiceReferenceHospit/HospitService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64183/Services/HospitService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" />
  <xs:import schemaLocation="http://localhost:64183/Services/HospitService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" />
  <xs:element name="AddHospit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="hospit" nillable="true" type="q1:Hospitalisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHospitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="AddHospitResult" nillable="true" type="q2:Hospitalisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandesHospit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idService" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandesHospitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" minOccurs="0" name="GetDemandesHospitResult" nillable="true" type="q3:ArrayOfDemandeHospitDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idService" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" minOccurs="0" name="GetHospitsResult" nillable="true" type="q4:ArrayOfHospitalisationDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSallePlanning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idService" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSallePlanningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.SerializedModels" minOccurs="0" name="GetSallePlanningResult" nillable="true" type="q5:ArrayOfSalleHospitPlanning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHospit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="salle" nillable="true" type="q6:Hospitalisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHospitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.Hospitalisations" minOccurs="0" name="UpdateHospitResult" nillable="true" type="q7:Hospitalisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHospit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHospitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>