ConsultationManager/Service References/ServiceReferenceInterview/InterviewService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.DossierMedicale" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models.DossierMedicale" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bilan">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACTPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FT3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FT4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T31" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="T41" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TSH" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bilan" nillable="true" type="tns:Bilan" />
</xs:schema>