ConsultationManager/Service References/ServiceReferenceAuthentication/AuthenticationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsultationManagerServer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Utilisateur">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreeDans" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreePar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateNaiss" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathologieId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specialite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Utilisateur" nillable="true" type="tns:Utilisateur" />
</xs:schema>